fastapi
uvicorn
python-multipart
jinja2
opencv-python
mediapipe; python_version < "3.13"
mtcnn
face-recognition
dlib-binary
tensorflow
numpy
Pillow
deepface
fer2013-lib
age-gender-estimation
scipy
matplotlib
seaborn
requests
